<div class="confirm-page">
    <div class="container" ng-init="loadData()">
        <div class="row">
            <div class="col-md-12">
                <h1 class="confirm-title">
                    الصفحة الخاصة بتاكيد البيانات
                </h1>
            </div>
        </div>
        <div ng-repeat="item in list">
            <div class="row" ng-if="!item.edit">
                <div class="col-md-12">
                    <div class="item-name">
                        <span>الاسم الاول: </span>{{item.firstName}}
                    </div>
                </div>
            </div>
            <div class="row images-row" ng-if="!item.edit">
                <div class="col-sm-4 col-sm-offset-4 col-xs-6">
                    <div class="item-info">
                        <div class="info-span">الصورة الشمسية:</div>
                        <img ng-src="/img/{{item.personalImage.split('fakepath\\')[1]}}" class="img-responive imgs">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <div class="info-span">صورة الهوية:</div>
                        <img ng-src="/img/{{item.idImage.split('fakepath\\')[1]}}" class="img-responive imgs">
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!item.edit">
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">اسم الام:</span> {{item.motherName}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">اسم الاب:</span> {{item.fatherName}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">الشهرة:</span> {{item.lastName}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">الجنس:</span> {{item.sex}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">تاريخ الميلاد:</span> {{item.dob | date:'MM/dd/yyyy'}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">مكان الميلاد:</span> {{item.placeOfBirth}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">رقم الهوية:</span> {{item.idNumber}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">الحالة:</span> {{item.status}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">المذهب:</span> {{item.religion}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">رقم القيد:</span> {{item.RegistrationNum}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">مكان القيد:</span> {{item.RegistrationPlace}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">رقم الهاتف الخيلوي:</span> {{item.cellPhone}}
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">رقم الهاتف:</span> {{item.phone}}
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <div class="item-info">
                        <span class="info-span">عنوان السكن:</span> {{item.address}}
                    </div>
                </div>
            </div>

            <div class="row" ng-if="item.edit">
                <div class="col-md-4 col-md-offset-8">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" placeholder="الاسم الأول" ng-model="item.firstName">
                    </div>
                </div>
            </div>

            <div class="row" ng-if="item.edit">
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" ng-model="item.motherName" placeholder="اسم الأم">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" ng-model="item.fatherName" placeholder="اسم الاب">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" ng-model="item.lastName" placeholder="الشهرة">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <select class="form-control" ng-model="item.sex">
                            <option value="ذكر">ذكر</option>
                            <option value="انثى">أنثى</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input class="form-control" ng-model="item.dob" type="date">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" ng-model="item.placeOfBirth" placeholder="مكان الميلاد">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="number" class="form-control" ng-model="item.idNumber" placeholder="رقم الهوية">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <select ng-model="item.status" class="form-control">
                            <option value="اعزب">اعزب</option>
                            <option value="متزوج/ة">متزوج/ة</option>
                            <option value="مطلقة" ng-if="item.sex === 'female'">مطلقة</option>
                            <option value="ارملة" ng-if="item.sex === 'female'">ارملة</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" ng-model="item.religion" placeholder="المذهب">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="number" class="form-control" ng-model="item.RegistrationNum" placeholder="رقم القيد">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" ng-model="item.RegistrationPlace" placeholder="مكان السجل">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="number" class="form-control" ng-model="item.cellPhone" placeholder=" رقم الهاتف الخليوي">
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <div class="confirm-input-row">
                        <input type="number" class="form-control" ng-model="item.phone" placeholder="رقم الهاتف الأرضي">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="confirm-input-row">
                        <input type="text" class="form-control" ng-model="item.address" placeholder="عنوان السكن">
                    </div>
                </div>
            </div>
            <div class="confirm-btn">
                <div class="row text-center">
                    <div class="col-md-12">

                        <button class="btn btn-info" ng-click="confirmData(item, $index)">اضافة</button>

                        <button class="btn btn-success" ng-click="edit($index)" ng-if="!item.edit">تعديل</button>

                        <button class="btn btn-success" ng-click="save($index, item, item._id)" ng-if="item.edit">حفظ</button>

                        <button class="btn btn-danger" ng-click="deleteItem(item._id, item)">حذف</button>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="$index !== list.length - 1">
                <div class="col-xs-4 col-xs-offset-4">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>