<div class="users-page" ng-init="loadData()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="users-title">
                    <h1>قائمة الاعضاء</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="users-desc">
                    <h3>يمكن تعديل الامتياز الخاص بكل عضو.</h3>
                    <h3>بالاضافة الى معرفة عدد الطلبات التي قام بها كل عضو.</h3>
                </div>
            </div>
        </div>
        <div class="admin-list">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>لائحة الادارة</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr class="table-data">
                                <th>#</th>
                                <th class="tableheader">
                                    اسم المستخدم
                                </th>
                                <th class="tableheader">
                                    الامتياز
                                </th>
                                <th class="tableheader">
                                    حذف
                                </th>
                                <th class="tableheader">
                                    تعديل
                                </th>
                            </tr>
                            <tbody ng-repeat="admin in adminList">
                                <tr class="table-data">
                                    <td class="tablebody">
                                        {{$index + 1}}
                                    </td>
                                    <td class="tablebody">
                                        {{admin.username}}
                                    </td>
                                    <td class="tablebody" ng-if="!admin.edit">
                                        {{admin.privilege}}
                                    </td>
                                    <td ng-if="admin.edit">
                                        <select class="form-control" ng-model="admin.privilege">
                                            <option value="admin">Admin</option>
                                            <option value="user">User</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" ng-click="deleteUser(admin._id)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                    <td ng-if="!admin.edit">
                                        <button class="btn btn-success btn-sm" ng-click="editAdmin(admin._id)">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </td>
                                    <td ng-if="admin.edit">
                                        <button class="btn btn-success btn-sm" ng-click="updateAdmin(admin._id, admin.privilege)">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-list">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>لائحة الاعضاء</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr class="table-data">
                                <th class="text-center tableheader">
                                    #
                                </th>
                                <th class="text-center sort-list tableheader" ng-click="username()">
                                    اسم المستخدم <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="text-center sort-list tableheader">
                                    الامتياز <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="text-center sort-list tableheader" ng-click="status()">
                                    الحالة <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="text-center sort-list tableheader" ng-click="sortByReqNum()">
                                    عدد الطلبات <i class="fa fa-sort" aria-hidden="true"></i>
                                </th>
                                <th class="text-center tableheader">
                                    حذف
                                </th>
                                <th class="text-center tableheader">
                                    تعديل
                                </th>
                            </tr>
                            <tbody ng-repeat="user in usersList | orderBy: sortUsers: order" class="users-list-tbody">
                                <tr class="table-data">
                                    <td class="text-center tablebody">
                                        {{$index + 1}}
                                    </td>
                                    <td class="text-center tablebody">
                                        <a href="#/oneUser/{{user._id}}" class="user-profile">
                                            {{user.username}}
                                        </a>
                                    </td>
                                    <td class="text-center tablebody" ng-if="!user.edit">
                                        {{user.privilege}}
                                    </td>
                                    <td ng-if="user.edit">
                                        <select class="form-control" ng-model="user.privilege">
                                            <option value="admin">Admin</option>
                                            <option value="user">User</option>
                                        </select>
                                    </td>
                                    <td class="text-center tablebody">
                                        {{user.status}}
                                    </td>
                                    <td class="text-center tablebody">
                                        {{user.requests.length}}
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" ng-click="deleteUser(user._id)">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </td>
                                    <td ng-if="!user.edit">
                                        <button class="btn btn-success btn-sm" ng-click="editUser(user._id)">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                    </td>
                                    <td ng-if="user.edit">
                                        <button class="btn btn-success btn-sm" ng-click="updateUser(user._id, user.privilege)">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
