<div class="banner">
    <div id="carousel-example-generic" class="carousel slide">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                
                <div class="carousel-caption">
                    <h1> جواز السفر اللبناني </h1>
                    <h3>يمكنك الان ان تحصل او تجدد جواز سفرك عبر موقعنا</h3>
                    <a href="#" class="btn">اضغط هنا</a>
                </div>
            </div>
            <div class="item">
                <img src="img/banner-image.jpg" alt="">
                <div class="carousel-caption">
                    <h1>Morbi semuis</h1>
                    <h3>Praesent dapibus, neque id cursus faucibus tortas augue eu vulputate</h3>
                    <a href="#" class="btn">facilis</a>
                </div>
            </div>
            <div class="item">
                <img src="img/banner-image.jpg" alt="">
                <div class="carousel-caption">
                    <h1>Morbi semuis</h1>
                    <h2>Praesent dapibus, neque id cursus faucibus tortas augue eu vulputate</h2>
                    <a href="#" class="btn">facilis</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <i class="glyphicon glyphicon-hand-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <i class="glyphicon glyphicon-hand-right"></i>
        </a>
    </div>
</div>