<div class="banner container-full">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active first-item">
                <div class="carousel-caption">
                    <h1> جواز السفر اللبناني </h1>
                    <h3>يمكنك الان ان تحصل او تجدد جواز سفرك عبر موقعنا</h3>
                    <a ng-if="privilege() ==='user'" href="#/passport" class="btn">اضغط هنا</a>
                </div>
            </div>
            <div class="item second-item">
                <div class="carousel-caption">
                    <h1>اخراج قيد</h1>
                    <h3>يمكنكم الحصول على اخراج قيد عن طريق موقعنا</h3>
                    <a ng-if="privilege() ==='user'" href="#/kayd" class="btn">اضغط هنا</a>
                </div>
            </div>
            <div class="item third-item">
                <div class="carousel-caption">
                    <h1> سجل عدلي</h1>
                    <h3>يمكنكم الحصول على السجل العدلي عن طريق موقعنا</h3>
                    <a ng-if="privilege() ==='user'" href="#/sejel" class="btn">اضغط هنا</a>
                </div>
            </div>
            <div class="item fourth-item">
                <div class="carousel-caption">
                    <h1>هوية لبنانية</h1>
                    <h3>يمكنكم الحصول على الهوية عن طريق موقعنا</h3>
                    <a ng-if="privilege() ==='user'" href="#/hawiye" class="btn">اضغط هنا</a>
                </div>
            </div>
            <!-- Left and right controls -->
            <span class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </span>
            <span class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="glyphicon glyphicon-arrow-right"></i>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="taarif"> تعلن وزارة الداخليّة و البلديّات عن انشاء موقعها الألكتروني الرسمي و ذلك لتسهيل حصول المواطن على أوراقه الرسمية التي يريد عبر طلبها أون لاين و من ثم يقوم موظفونا بتوصيلها الى المكان الذي  يريد ما عليك سوى انشاء حسابك الخاص
            .</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="featured-item">

        <div class="col-md-6">
            <div class="block">
                <div class="block-title">
                    <h1>Aliquam tincidunt</h1>
                    <h2>Integer vitae libero ac risus egestas placerat</h2>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading accordion-caret">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Donec quis dui at dolor tempor
                          </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra ultricies in, diam. Sed arcu. Cras consequat.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading accordion-caret">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Vivamus molestie gravida turpis
                          </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra ultricies in, diam. Sed arcu. Cras consequat.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading accordion-caret">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Fusce lobortis lorem at ipsum semper 
                          </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra ultricies in, diam. Sed arcu. Cras consequat.</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading accordion-caret">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Nam convallis pellentesque nisl
                          </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra ultricies in, diam. Sed arcu. Cras consequat.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="block-title">
                    <h1>موقعنا يقدم العديد من الخدمات ومن ابرزها</h1>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="user-info">
                                <i class="glyphicon glyphicon-ok icon"></i>
                                <h1>اخراج قيد</h1>
                                <p>يمكنك أن تحصل على القيد الفردي الخاص بك أو لولدك في حال كان عمره دون 18 سنة </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="user-info">
                                <i class="glyphicon glyphicon-ok icon"></i>

                                <h1>جواز سفر</h1>
                                <p>يمكنك أن تحصل على جوزك اللبناني الخاص بك عبر موقعنا</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="user-info">
                                <i class="glyphicon glyphicon-ok icon"></i>
                                <h1>سجل عدلي</h1>
                                <p>يمكنك أن تحصل على السجل العدلي الخاص بك عبر موقعنا</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="user-info">
                                <i class="glyphicon glyphicon-ok icon"></i>
                                <h1>الهوية اللبنانية</h1>
                                <p>يمكنك أن تحصل على هويتك اللبنانية الخاص بك عبر موقعنا</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ruler"></div>
</div>