<div class="complain-page" ng-init="loadData()">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="complain-title">لائحة بجميع الشكاوى والاقتراحات</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="complain table-responsive">
                    <table class="table table-bordered">
                        <tr class="table-data">
                            <th>#</th>
                            <th>اسم المستخدم</th>
                            <th>الاقتراح او الشكوى</th>
                            <th>حذف</th>
                        </tr>
                        <tbody ng-repeat="complain in list">
                            <tr class="table-data">
                                <td>{{$index + 1}}</td>
                                <td>{{complain.username}}</td>
                                <td>{{complain.complain}}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" ng-click="deleteComplain(complain._id)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2">
                <div class="complain-delete">
                </div>
            </div>
        </div>
    </div>
</div>
