<div class="userReqPage">
    <div class="container" ng-init="loadData()">
        <div class="row">
            <div class="col-md-12">
                <h1 class="userReq-title">
                    الطلبات المقدّمة من المستخدمين لتنفيذها
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr class="table-data">
                            <th>#</th>
                            <th>اسم المستخدم</th>
                            <th>نوع الطلب</th>
                            <th>تاريخ الطلب</th>
                            <th>عدد السنين</th>
                            <th>حذف</th>
                        </tr>

                        <tbody ng-repeat="item in list">
                            <tr class="table-data">
                                <td class="tablebody">
                                    {{$index + 1}}
                                </td>
                                <td class="tablebody">
                                    <a href="#/oneUser/{{item.userId}}">
                                        {{item.username}}
                                    </a>
                                </td>
                                <td class="tablebody">
                                    {{item.reqType}}
                                </td>
                                <td class="tablebody">
                                    {{item.date | date : "MM/dd/yyyy"}}
                                </td>
                                <td class="tablebody">
                                    {{item.datas[0].validity}}</td>
                                <td>
                                    <button ng-click="delReq(item._id)" class="btn btn-danger">حذف</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
