*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    background: #e6e6e6
}

* {
    box-sizing: border-box;
}

.ng-cloak {
    display: none !important;
}

.header-wrapper {
    overflow: hidden;
    text-align: center;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}

.site-name {
    display: inline-block;
}

.glyphicon-list {
    font-size: 30px;
}

.site-name h1 {
    margin: 0;
    font-size: 55px;
    color: #0b913d;
    font-family: "Cairo";
    text-transform: uppercase;
}

.site-name h2 {
    font-size: 25px;
    line-height: 24px;
    color: #cac8c8;
    font-family: "Cairo";
}

.menu {
    width: 100%;
    text-align: center;
    background: #0b913d;
    height: 52px;
}

.navbar {
    display: inline-block;
    margin-bottom: 0;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 20px;
    background-image: none;
    border: none;
    font-family: "Cairo";
    text-transform: uppercase;
    padding: 15px;
    font-weight: 700;
    text-align: center;
}

.navbar-nav>li>a:hover {
    color: #C8E6C9;
    background: none;
}

.navbar-nav>li>a:focus {
    color: #fff;
    background: none;
}

.dropdown span h3 {
    font-family: "Cairo";
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 14px;
    cursor: pointer;
}

.signin-pointer {
    cursor: pointer;
}

.mini-menu {
    display: none;
}

.mini-menu .selectnav {
    display: none;
    width: 100%;
    background: #3b3e4a;
    font-weight: 600;
    padding: 10px;
    height: 42px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: none !important;
}

.selectnav select {
    appearance: none;
    border: none !important;
}

.mini-menu label {
    position: relative;
    width: 80%;
}

.banner .carousel-caption {
    top: 25%;
}

.banner .carousel-caption h1 {
    margin: 0;
    font-size: 60px;
    font-family: "Cairo";
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.banner .carousel-caption h3 {
    font-size: 28px;
    line-height: 36px;
    font-family: "Cairo";
    color: #fff;
    padding-bottom: 20px;
}

.banner .carousel-caption .btn {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    font-family: "Cairo";
    text-transform: uppercase;
    padding: 10px 25px;
    background: #0b913d;
    border-radius: 40px;
    box-shadow: 0 3px 2px 0px #4a4c54;
}

.banner .carousel-caption .btn:hover {
    color: #0b913d;
    background: #fff;
    transition: all 1s;
}

.banner .carousel-control {
    top: 45%;
    width: 60px;
    height: 60px;
    line-height: 42px;
    font-size: 30px;
    background: #0b913d;
    cursor: pointer;
    border-radius: 50px;
    bottom: 42%;
    opacity: 0.8;
    margin-left: 20px;
    margin-right: 20px;
}

.banner .carousel-control i {
    padding-top: 13px;
}


/*dddddddddddddddddddddddddddddddddddddddddddddddd*/

.banner .carousel-control:hover {
    background: #3b3e4a;
    transition: all 1s;
}

.taarif {
    direction: rtl;
    text-align: center;
    font-family: "Cairo"
}

.contact {
    margin-top: 40px;
    margin-bottom: 50px;
    direction: rtl;
    text-align: center;
    color: #1A237E;
    font-family: "Cairo"
}

.shakawa {
    direction: rtl;
    text-align: center;
    color: #1A237E;
    font-family: "Cairo";
    margin-bottom: 20px;
}

.shakawa .btn {
    margin-top: 10px;
}

.complain-msg {
    direction: rtl;
    text-align: center;
    color: #1A237E;
    font-family: "Cairo";
    color: red;
}

textarea {
    height: 200px;
    width: 700px;
}

.banner .carousel-inner:hover .btn {
    transition: all 1s;
    opacity: 0.9 !important;
}

.item {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.first-item {
    background-image: url(../img/passport.jpg);
}

.second-item {
    background-image: url(../img/kayad.jpg);
}

.third-item {
    background-image: url(../img/sejel.jpg);
}

.fourth-item {
    background-image: url(../img/haya.jpg);
}


/************************************************
	complain page styles starts here
 ************************************************/
.complain-page {
    margin-top: 40px;
    margin-bottom: 50px;
    direction: rtl;
    font-family: "Cairo"
}

.complain-title {
    margin-bottom: 50px;
}
/************************************************
	person info page styles starts here
 ************************************************/

.personInfo-page {
    margin-top: 40px;
    margin-bottom: 50px;
    direction: rtl;
}

.personInfo-title {
    text-align: center;
    font-family: "Cairo";
    font-weight: 700;
    margin-bottom: 50px;
}

.info-span {
    font-weight: 700
}

.images-row {
    margin-bottom: 20px;
}
.personInfo-row {
    margin-bottom: 30px;
}

.personInfo-input {
    border: 1px solid transparent;
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid black;
    border-radius: 0px;
    direction: rtl;
}

.personInfo-input:focus {
    border: 1px solid transparent;
    border-bottom: 2px solid black;
    border-radius: 0px;
    background: white;
}


/*home page*/

.flag {
    background-image: url(../img/flag.jpg);
    height: 95px;
    background-size: cover;
    background-position: center;
}

.flag h2 {
    padding-right: 10px;
    padding-top: 5px;
    color: #1A237E;
    font-family: "Cairo";
    font-weight: 700;
    font-size: 30px
}


/************************************************
	signup page styles starts here
 ************************************************/

.signup-page {
    direction: rtl;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Cairo";
}

.signup-page h1 {
    margin-bottom: 50px;
    font-weight: 700;
}

.input-label {
    font-size: 25px;
    font-family: "Cairo";
    margin-top: 5px;
    margin-bottom: 10px;
}

.notMatch-password {
    font-size: 25px;
    font-family: "Cairo";
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: red;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.input-row {
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-row input {
    font-family: "Cairo";
}

.input-btn {
    margin-top: 30px;
}

.input-btn .btn-primary {
    font-weight: 700;
    width: 100%;
}


/************************************************
	generic styles starts here
 ************************************************/

.featured-item {
    padding: 55px 0;
    overflow: hidden;
    direction: rtl;
}

.featured-item .block {
    overflow: hidden;
}

.featured-item .block ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.featured-item .block ul li {
    list-style: none;
    float: left;
}

.featured-item .block .block-title {
    padding-bottom: 30px;
}

.featured-item .block .block-title h1 {
    font-size: 28px;
    line-height: 32px;
    color: #454855;
    text-transform: uppercase;
    font-family: "Cairo";
    direction: rtl;
}

.featured-item .block .block-title h2 {
    font-size: 18px;
    line-height: 24px;
    color: #454855;
    font-family: "Cairo";
    direction: rtl;
}

.user-info {
    overflow: hidden;
    direction: rtl;
}

.user-info .icon {
    margin-left: 10px;
    margin-top: 10px;
    background: #0b913d;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    float: right;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}

.user-info .icon:hover {
    background: #454855;
    color: #fff;
    transition: all 1s;
}

.user-info h1 {
    font-size: 18px;
    line-height: 24px;
    color: #3b3e4a;
    font-family: "Cairo";
    padding-bottom: 10px;
    text-transform: uppercase;
    direction: rtl;
    font-weight: 600;
}

.user-info p {}

.block .panel-default>.panel-heading {
    background: #fff;
    color: #0b913d;
    font-size: 16px;
    padding: 0;
}

.block .panel-default>.panel-heading .panel-title {
    line-height: 40px;
    
}
.block .panel-default>.panel-heading .panel-title a{
    line-height: 40px;
    padding-right: 10px;
}

.block .panel-default>.panel-heading .panel-title>a:hover {
    text-decoration: none;
}

.block .panel-default>.panel-collapse {
    background: #f0f0f0;
    color: #989898;
    font-size: 14px;
}

.block .panel-default>.panel-collapse .panel-body {
    padding: 20px 15px;
}

.block .panel-group .panel+.panel {
    margin-top: 10px;
}

.accordion-caret .accordion-toggle:hover {
    text-decoration: none;
}

.accordion-caret .accordion-toggle:before {
    vertical-align: -1px;
    border-bottom: 0;
    line-height: 0;
}

.accordion-caret .accordion-toggle:not(.collapsed):before {
    float: right;
    color: #000;
    display: inline-block;
    content: url(../img/minus-sign.png);
}

.accordion-caret .accordion-toggle.collapsed:before {
    color: #fff;
    float: right;
    content: url(../img/plus-sign.png);
}

.panel-title .accordion-toggle.collapsed {
    padding-left: 10px;
}

.panel-title .accordion-toggle:not(.collapsed) {
    background: #3b3e4a !important;
    display: block;
    padding-left: 10px;
    color: #fff;
}


/************************************************
	Footer styles starts here
 ************************************************/

.footer-wrapper {
    background: #3b3e4a;
}

.site-content {
    padding: 30px 0;
    overflow: hidden;
}

.site-content .block h1 {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Cairo";
    padding-bottom: 10px;
    direction: rtl;
}

.site-content .block ul {
    margin: 0;
    padding: 0;
    direction: rtl;
}

.site-content .block ul li {
    list-style: none;
    line-height: 28px;
}

.site-content .block ul li a {
    font-size: 14px;
    color: #cbcbcb;
    font-family: "Cairo";
    border-bottom: 1px solid #83858b;
}

.site-content .block ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.site-content .block .input-group {
    margin-top: 10px;
}

.site-content .block .input-group-btn .btn {
    border-radius: 0 20px 20px 0;
    background: #0b913d;
    color: #fff;
    font-family: "Cairo";
    text-transform: uppercase;
    border: none;
    padding: 6px 5px;
    font-size: 12px;
    line-height: 23px;
}

.site-content .block .input-group-btn .btn:hover {
    background: #454855;
    color: #0b913d;
    transition: all 1s;
}

.input-group .form-control {
    border-radius: 19px;
    background: #454855;
    border: none;
}

.site-content .block .social li a {
    text-decoration: none;
    border-bottom: 0;
}

.site-content .block .social {
    margin-top: 8px;
}

.social [class^="fa"] {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 14px;
    text-align: center;
    padding-top: 13px;
    background: #0b913d;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.social [class^="fa"]:hover {
    background: #454855;
    color: #0b913d;
    transition: all 1s;
}

.social li {
    display: inline-block;
}

.copy-rights {
    color: #0b913d;
    font-family: "Cairo";
    background: #454855;
    padding: 35px 0;
}

.copy-rights a {
    color: #0b913d;
    font-size: 14px;
    font-family: "Cairo";
    text-decoration: none;
}

.copy-rights a:hover {
    color: #fff;
}
/************************************************
	one-user-page
 ************************************************/
.one-user-page {
    margin-top: 40px;
    margin-bottom: 50px;
    direction: rtl;
}

.req-title {
    text-align: center;
    font-family: "Cairo";
    font-weight: 700;
    margin-bottom: 50px;
}

.dash {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-row {
    font-family: "Cairo"
}

/************************************************
	all data starts here
 ************************************************/
.all-data-page {
    margin-top: 40px;
    margin-bottom: 50px;
    direction: rtl;
    font-family: "Cairo"
}

.all-data-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.one-data-row {
    margin-bottom: 10px;
}

/************************************************
	change-req-page
 ************************************************/

.change-req-page {
    direction: rtl;
    font-family: "Cairo";
    margin-top: 40px;
    margin-bottom: 50px;
}

.change-req-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.change-req-desc {
    font-size: 23px;
    font-weight: 500;
    margin-right: 20px;
    margin-bottom: 40px;
}

.add-field {
    margin-top: 10px;
}
.send-change {
    margin-top: 30px;
}

.change-success {
    color: green;
    text-align: center
}
.change-fail {
    color: red;
    text-align: center
}

/************************************************
	change page here
 ************************************************/
.change-page {
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: "Cairo";
    direction: rtl;
}

.change-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}
/************************************************
	confirm starts here
 ************************************************/

.confirm-page {
    margin-top: 40px;
    margin-bottom: 50px;
    direction: rtl;
}

.confirm-title {
    text-align: center;
    font-family: "Cairo";
    font-weight: 700;
    margin-bottom: 50px;
}

.confirm-btn {
    margin-top: 20px;
}

.confirm-btn button {
    font-size: 20px;
}

.item-name {
    font-size: 35px;
    font-family: "Cairo";
    margin-bottom: 20px;
}
.item-name span{
    font-weight: 700
}

.item-info {
    font-size: 20px;
    font-family: "Cairo";
    direction: rtl;
}

.item-info div {
    margin-bottom: 10px;
}

.personInfo-row input {
    margin-bottom: 10px;
}

.personInfo-row select {
    margin-bottom: 10px;
}

.personInfo-row label {
    font-family: "Cairo"
}

.confirm-input-row {
    margin-bottom: 10px;
}

.confirm-input-row input {
    font-family: "Cairo";
    font-size: 20px;
}

.confirm-input-row select {
    font-size: 18px;
}
/************************************************
	login modal starts here
 ************************************************/

.login-form {
    direction: rtl;
    font-family: "Cairo";
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: "Cairo";
}

.loginmodal-container .btn {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    border-radius: 0px;
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    direction: rtl;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: "Cairo";
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: "Cairo";
    font-size: 20px;
    font-weight: 400;
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

.loginmodal-container h4 {
    font-family: "Cairo";
    direction: rtl;
    margin-top: 5px;
    font-size: 20px;
}

.loginmodal-container h4 a {
    color: blue;
}

.loginmodal-container h4 a:hover {
    text-decoration: underline;
}


/************************************************
	media query starts here
 ************************************************/

.collapse-menu {
    display: none !important;
}

@media (max-width: 768px) {
    .flag {
        background-position: left
    }
    .mini-menu {
        display: block !important;
        margin: 0 10px !important;
    }
    .collapse-menu {
        display: block !important;
    }
    .selectnav {
        display: block !important;
    }
    .menu {
        height: auto !important;
        padding-top: 5px !important;
    }
    .navbar-nav {
        margin-bottom: 0 !important;
    }
    .nav>li {
        background: #454855!important;
        margin-bottom: 5px !important;
        color: #fff !important;
    }
    .nav>li:hover {
        background: #fff !important;
    }
    .nav>li>a {
        padding: 12px !important;
    }
    .nav>li>a:hover {
        color: #454855 !important;
    }
    .navbar {
        display: block !important;
    }
    .navbar-toggle {
        float: none !important;
        color: #fff !important;
        margin-right: 0 !important;
    }
    .navbar-nav {
        display: block !important;
        margin-top: 0 !important;
    }
    .header-wrapper {
        padding: 30px 0 !important;
    }
    .banner .carousel-caption h1 {
        font-size: 40px !important;
        padding-bottom: 10px !important;
        padding-top: 20px !important;
        margin: 0 !important;
    }
    .banner .carousel-caption h2 {
        font-size: 18px !important;
        padding-bottom: 10px !important;
        padding-top: 20px !important;
        line-height: 26px !important;
    }
    .banner .carousel-caption {
        top: 0 !important;
    }
    .banner .carousel-caption .btn {
        font-size: 20px !important;
        padding: 10px 15px !important;
        line-height: 20px !important;
    }
    .banner .carousel-control {
        top: 41% !important;
        font-size: 25px !important;
        width: 40px !important;
        height: 40px !important;
        line-height: 32px !important;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .banner .carousel-control i {
        position: absolute;
        top: -5px;
        right: 7px;
    }
    .featured-item {
        padding: 30px 0 !important;
        padding-bottom: 0 !important;
    }
    .featured-item .block {
        margin-bottom: 30px !important;
    }
    .featured-item .block .block-title {
        padding-bottom: 20px !important;
    }
    .featured-item .block .block-title h1 {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .featured-item .block .block-title h2 {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .user-info h1 {
        font-size: 16px !important;
    }
    .featured-content {
        padding: 30px 0 !important;
        padding-bottom: 0 !important;
    }
    .featured-content .block {
        margin-bottom: 30px !important;
    }
    .site-content {
        padding: 30px !important;
        padding-bottom: 0 !important;
    }
    .site-content .block {
        margin-bottom: 30px !important;
    }
    .site-content .block h1 {
        padding-bottom: 5px !important;
    }
    .site-content .block .input-group {
        margin-top: 20px !important;
    }
    .site-content .block .social {
        margin-top: 20px !important;
    }
    .copy-rights {
        padding: 30px 0 !important;
    }
}