<div class="signup-page">
    <div class="container">
       <div class="row">
           <div class="col-md-12">
           </div>
       </div>
        <div class="signup-row">
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="رقم الهوية">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="الاسم الأول">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="اسم الأب">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="الشهرة">
                </div>
            </div>
        </div>
        <div class="signup-row">
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="اسم الأم و شهرتها">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="مكان الولادة">
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control signup-input" placeholder="تاريخ الميلاد">
                </div>
                <div class="col-md-3">
                    <select ng-model="gender" class="form-control">
                        <option value="Male">ذكر</option>
                        <option value="Female">أنثى</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="signup-row">
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="مكان القيد">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" type="number" placeholder="رقم القيد">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="المذهب">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" placeholder="الوضع العائلي">
                </div>
            </div>
        </div>
        <div class="signup-row">
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control signup-input"  placeholder="عنوان السكن">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" type="number" placeholder="رقم الهاتف الأرضي">
                </div>
                <div class="col-md-3">
                    <input class="form-control signup-input" type="number" placeholder="رقم الهاتف الخليوي">
                </div>
                <div class="col-md-3">
                    <input type="file" class="form-control signup-input" placeholder="صورة الهوية">
                </div>
            </div>
        </div>
    </div>
</div>