<div class="one-user-page" ng-init="loadData()">
    <div class="container">
        <div class="row" ng-if="!item.edit">
            <div class="col-md-12">
                <div class="item-name">
                    رقم الهوية: {{item.idNumber}}
                    <img ng-src="/img/{{item.personalImage}}" class="img-responive">
                    <img ng-src="/img/{{item.idImage}}" class="img-responive">
                </div>
            </div>
        </div>

        <div class="row" ng-if="!item.edit">
            <div class="col-sm-4">
                <div class="item-info">
                    الشهرة: {{item.lastName}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    اسم الاب: {{item.fatherName}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    الاسم الاول: {{item.firstName}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    الجنس: {{item.sex}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    تاريخ الميلاد: {{item.dob | date:'MM/dd/yyyy'}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    مكان الميلاد: {{item.placeOfBirth}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    اسم الام: {{item.motherName}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    الحالة: {{item.status}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    المذهب: {{item.religion}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    رقم القيد: {{item.RegistrationNum}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    مكان القيد: {{item.RegistrationPlace}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    رقم الهاتف الخيلوي: {{item.cellPhone}}
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="item-info">
                    رقم الهاتف: {{item.phone}}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-info">
                    عنوان السكن: {{item.address}}
                </div>
            </div>
        </div>
        <div class="row" ng-if="item.edit">
            <div class="col-md-4 col-md-offset-8">
                <div class="confirm-input-row">
                    <input type="number" class="form-control" ng-model="item.idNumber" placeholder="رفم الهوية">

                </div>
            </div>
        </div>

        <div class="row" ng-if="item.edit">
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" ng-model="item.lastName" placeholder="الشهرة">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" ng-model="item.fatherName" placeholder="اسم الاب">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" placeholder="الاسم الأول" ng-model="item.firstName">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <select class="form-control" ng-model="item.sex">
                            <option value="male">ذكر</option>
                            <option value="female">أنثى</option>
                        </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input class="form-control" ng-model="item.dob" type="date">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" ng-model="item.placeOfBirth" placeholder="مكان الميلاد">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" ng-model="item.motherName" placeholder="اسم الأم">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <select ng-model="item.status" class="form-control">
                            <option value="single">اعزب</option>
                            <option value="married">متزوج/ة</option>
                            <option value="divorced" ng-if="item.sex === 'female'">مطلق/ة</option>
                            <option value="widow" ng-if="item.sex === 'female'">ارملة</option>
                        </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" ng-model="item.religion" placeholder="المذهب">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="number" class="form-control" ng-model="item.RegistrationNum" placeholder="رقم القيد">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" ng-model="item.RegistrationPlace" placeholder="مكان السجل">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="number" class="form-control" ng-model="item.cellPhone" placeholder=" رقم الهاتف الخليوي">
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="confirm-input-row">
                    <input type="number" class="form-control" ng-model="item.phone" placeholder="رقم الهاتف الأرضي">
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirm-input-row">
                    <input type="text" class="form-control" ng-model="item.address" placeholder="عنوان السكن">
                </div>
            </div>
        </div>
        <div class="confirm-btn">
            <div class="row text-center">
                <div class="col-md-12">

                    <button class="btn btn-success" ng-click="edit($index)" ng-if="!item.edit">تعديل</button>

                    <button class="btn btn-success" ng-click="save($index, item, item._id)" ng-if="item.edit">حفظ</button>

                    <button class="btn btn-danger" ng-click="deleteItem(item._id, item)">حذف</button>
                </div>
            </div>
        </div>
    </div>
</div>